<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MultiUser"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminLogin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminSignup"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminOptions"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddPoll"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminExit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserLogin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".userSignup"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewResult"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomePage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Update_profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cast_vote"
            android:screenOrientation="portrait" />
        <activity
            android:name=".comment_vote"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".vote_done"
            android:screenOrientation="portrait" />
        <activity android:name=".forget_password" />
        <activity android:name=".change_password" />
        <activity android:name=".otp" />
        <activity android:name=".user_forget_password" />
        <activity android:name=".user_otp" />
        <activity android:name=".user_change_password" />
        <activity android:name=".password_homepage"></activity>
    </application>

</manifest>